:host {
  width: 70%;
  min-height: 250px;
  height: 250px;
  background-color: blue;
  display: block;
  margin: 0 auto;
}

/* Si encuentra un elemento o selector en alguno de sus antecesores */
:host-context(.device-mobile) {
  width: 50%;
}

.min-format-test {
  min-width: 100px;
  min-height: 100px;
  height: auto;
  width: auto;
  display: block;
}

#reference-wrapper {
  background-color: red;
}

#reference-wrapper > slot {
  display: block;
}

#reference-wrapper > slot::slotted(.reference) {
  display: block;
}

#description-wrapper {
  background-color: orange;
  overflow: auto;
}

#description-wrapper > slot {
  display: block;
}

/* --------- Vertical orientation RULES --------- */
:host([orientation="vertical"]) #reference-wrapper {
  display: inline-block;
  width: 20%;
  height: 100%;
  overflow: auto;
}

:host([orientation="vertical"]) #description-wrapper {
  display: inline-block;
  width: 80%;
  height: 100%;
}

/* --------- Horizontal orientation RULES --------- */
:host([orientation="horizontal"]) #slot_reference::slotted(.reference) {
  display: inline-block;
}

:host([orientation="horizontal"]) #slot_reference::slotted() {
  display: none;
}

:host([orientation="horizontal"]) #reference-wrapper {
  display: block;
  width: 100%;
  height: 20%;
}

:host([orientation="horizontal"]) #description-wrapper {
  display: block;
  width: 100%;
  height: 80%;
}

/*  ---------- CSS del usuario ------------ */

.reference .title {
  display: none;
}
